.controls{
  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(350px);
    left: -50px;
    }

  @media (min-width: $mantine-breakpoint-sm) {
    width: 116%;
    left: -50px;
    }

    @media (min-width: $mantine-breakpoint-md) {
    width: 112%;
    }

  @media (min-width: $mantine-breakpoint-xl) {
    width: 110%;
    left: -65px;
    }

      @media (min-width: $mantine-breakpoint-xxl) {
    width: 105%;
    left: -55px;
    }
}

.control{
  background-color: #FBD2E0;
}