.Anchor-root,
.Text-root,
.MenuImg {
  color: #f666ae;
  padding: 5px 10px;
  transition: all 0.2 ease;

  :hover {
    background-color: #f666ae;
    color: white;
    border-radius: 5px;
    transition: all 0.2 ease;
  }
}

.Anchor-root[data-active="true"] .Text-root {
  color: #f666ae;
}

.socialLink {
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background:#f666ae ;
}

.socialLink:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
