@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shinyText {
  font-size: 15px;
  font-weight: 400 !important;
  color: #625e5ea4 !important;

  @media (max-width: $mantine-breakpoint-xs) {
    color: #f0f0f0 !important;
    width: rem(350px);
  }

  @media (mim-width: $mantine-breakpoint-sm) {
    color: #625e5ea4 !important;
  }
}

.skilledGroup {
  transition: transform 0.3s ease-in-out;

  @media (min-width: $mantine-breakpoint-sm) {
    align-items: flex-start;
  }

  @media (min-width: $mantine-breakpoint-md) {
    align-items: center;
  }

  .skilledBox {
    position: absolute;
    top: -22px;
    left: 35px;
    width: 200px;
    height: 150px;
    transition: transform 0.35s ease-in-out;
  }

  .skilledImage {
    transition: transform 0.35s ease-in-out;
    transition-delay: 0.55s;
  }

  .skilledCircle {
    position: absolute;
    bottom: -35px;
    right: 20px;
    transition: transform 0.35s ease-in-out;
    transition-delay: 0.25s;
    animation: rotate 10s linear infinite;
    transform-origin: center; /* Đảm bảo vòng tròn quay từ giữa */

    @media (max-width: $mantine-breakpoint-xs) {
      bottom: -50px;
      left: -70px;
    }

    @media (min-width: $mantine-breakpoint-sm) {
      bottom: 70px;
      right: -70px;
    }

    @media (min-width: $mantine-breakpoint-md) {
      bottom: -50px;
    }

    @media (min-width: $mantine-breakpoint-xl) {
      bottom: -50px;
      right: 0px;
    }
  }

  .skilledCircle1 {
    position: absolute;
    transition: transform 0.35s ease-in-out;
    transition-delay: 0.25s;
    animation: rotate 10s linear infinite;
    transform-origin: center; /* Đảm bảo vòng tròn quay từ giữa */

    @media (max-width: $mantine-breakpoint-xs) {
      top: -90px;
      right: -70px;
    }
  }

  &:hover {
    .skilledBox {
      transform: scale(1.15);
      transform-origin: center;
    }

    .skilledImage {
      transform: scale(1.03);
      transform-origin: center;
    }

    .skilledCircle {
      transform: scale(1.15) rotate(360deg); /* Kết hợp scale và rotate khi hover */
      transform-origin: center;
    }
  }
}

.container {
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    background-image: url("/assets/skilled/img_skilled_mobile.svg");
    height: rem(708px);
    position: relative;
    padding-inline: 0 !important;
    margin-inline: 0 !important ;
  }
}

.FlexRoot {
  @media (max-width: $mantine-breakpoint-xs) {
    bottom: 5%;
    left: 10%;
  }

  @media (max-width: rem(375px)) {
    bottom: 5%;
    left: 5%;
  }

    @media (max-width: rem(370px)) {
    bottom: 5%;
    left: 4%;
  }
}
